.top-bar {
	background: $white;

	ul {
		background: $white;
		float: right;
	}

	a {
		color: $dark-gray;
		font-family: $header-font-family;
	}
	
	&-center {
		text-align: left;
		color: $dark-gray;
		font-size: 12px;

		@include breakpoint(medium) {
			text-align: center;
			font-size: 16px;
		}

		.logo {
			font-family: $header-font-family;
			display: inline-block;
			margin-left: 5px;

			@include breakpoint(medium) {
				display: block;
				margin-left: 0;
			}
		}
	}

	&-right {
		margin-top: -18px;

		@include breakpoint(medium) {
			margin-top: -30px;
		}

		.menu {
			li {
				a {
					padding: 0 8px;

					@include breakpoint(medium) {
						padding: 0 20px;
					}
				}
			}
		}
	}
}