.login {

	&_container {
		background-image: url('../img/sunset.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 100%;
	}

	&_form {

		padding: 40px 0px;

		@include breakpoint(medium) {
			padding: 40px;
		}

		input {
			background: transparent;
			border: 2px solid $white;
			padding: 25px 10px;
			color: $black;

			&::-webkit-input-placeholder {
			   color: $black;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: $black;  
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: $black;  
			}

			&:-ms-input-placeholder {  
			   color: $black;  
			}
		}

		button {
			font-size: 18px;
		}

		&_container {
			background: rgba(255,255,255,0.5);
			padding: 40px;
			text-align: center;
			margin-top: 80px;
			border-radius: 4px;

			h1 {
				color: $white;	
			}
		}
	}
}