<section class="section--negative">
    <div class="row">
        <div class="small-11 small-centered medium-9 medium-centered columns search">
            <div class="row">
                <div class="small-12 medium-4 columns search_input_container">
                   <div class="search_input">
                        <div class="search_subheader">LOCATION</div>
                        <select name="search--location" id="search--location">
                            <optgroup>
                                <option value="Gold Coast">Gold Coast</option>
                                <option value="Brisbane">Brisbane</option>
                                <option value="Sunshine Coast">Sunshine Coast</option>
                                <option value="Logan">Logan</option>
                            </optgroup>
                        </select>
                    </div> 
                </div>
                <div class="small-12 medium-4 columns search_input_container">
                    <div class="search_input">
                        <div class="search_subheader">CATEGORY</div>
                        <select name="search--category" id="search--category">
                            <optgroup>
                                <option value="Bathrooms">Bathrooms</option>
                                <option value="Showers">Showers</option>
                                <option value="Parks">Parks</option>
                                <option value="Bus Stops">Bus Stops</option>
                            <optgroup>
                        </select>
                    </div>
                </div>
                <div class="small-12 medium-4 columns search_input_container">
                    <div class="search_input background--search search--button">
                        <button class="button button--main">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>